<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box {
      width: 414px;
      height: 500px;
      background-image: linear-gradient(to right, #3a3b7e, #0891cf);
    }
  </style>
  <script>
    let data = [
      { site: "site1", id: 1 },
      { site: "site2", id: 2 },
      { site: "site3", id: 3 },
      { site: "site4", id: 4 },
      { site: "site5", id: 5 },
      { site: "site6", id: 6 },
      { site: "site7", id: 7 },
      { site: "site8", id: 8 },
      { site: "site9", id: 9 },
      { site: "site10", id: 10 },
      { site: "site11", id: 11 },
      { site: "site12", id: 12 },
    ];
    
  </script>
</head>

<body>
  <div class="box">

  </div>
</body>

</html>